@layer view-transitions {
	@view-transition {
		navigation: auto;
	}

	h1 {
		/* The view-transition-name is set using an element attached style */
	}

	@keyframes disallow-vt-name-when-outside-viewport {
		from, to { view-transition-name: none; }
	}
	[data-view-transition-name] {
		animation-name: disallow-vt-name-when-outside-viewport, disallow-vt-name-when-outside-viewport;
		animation-timeline: view();
		animation-range: cover 0% cover calc(0% + 1px), cover calc(100% - 1px) cover 100%;
		animation-fill-mode: backwards, forwards;
	}
}
