@layer reset, layout, pages, components;

@layer view-transitions {
	@view-transition {
		navigation: auto;
	}

	#detail main {
		img {
			view-transition-name: profile-avatar;
		}
		h1 {
			view-transition-name: profile-name;
		}
	}
}

@layer pages {
	@layer general {

	}

	@layer overview {
		#overview {

		}
	}

	@layer detail {
		#detail {
			main {
				display: grid;
				grid-template: "name name" auto
				               "avatar bio" auto / auto 1fr;
				gap: 1em;

				> * {
					margin-top: 0;
					margin-bottom: 0;
				}
			}

			h1 {
				grid-area: name;

				display: inline;
				width: fit-content;
			}

			main img {
				grid-area: avatar;

				display: block;
				width: 10em;
				aspect-ratio: 1;
				border-radius: 50%;
			}

			main p {
				grid-area: bio;
			}
		}
	}
}

@layer components {
	@layer profiles {
		.profiles {
			list-style: none;

			li {
				margin: 0.25em 0;
			}

			a {
				text-decoration: none;

				display: flex;
				flex-direction: row;
				gap: 0.5em;
				padding: 0.5em;
				align-items: center;

				color: black;
				text-decoration: none;

				&:hover {
					background: #f4f4f4;
				}
			}

			img {
				height: 2em;
				width: 2em;
				border-radius: 50%;
				display: inline-block;
			}
		}
	}
}

@layer layout {
	html {
		background-color: white;
		height: 100%;
		width: 100%;

		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	body {
		height: 100%;
		width: 100%;
	}

	main, footer, aside {
		max-width: 60em;
		margin: 0 auto 4em;
		padding: 1em;
	}

	footer {
		font-style: italic;
		text-align: center;
	}
}

@layer reset {
	* {
		box-sizing: border-box;
	}
	html, body, ul[class] {
		margin: 0;
		padding: 0;
	}
}
