@view-transition {
	navigation: auto;
}

html:active-view-transition-type(forwards, backwards) {
	:root {
		view-transition-name: none;
	}
	article {
		view-transition-name: content;
	}
	.pagination {
		view-transition-name: pagination;
	}
}

html:active-view-transition-type(forwards) {
	&::view-transition-old(content) {
		animation-name: slide-out-to-left;
	}
	&::view-transition-new(content) {
		animation-name: slide-in-from-right;
	}
}

html:active-view-transition-type(backwards) {
	&::view-transition-old(content) {
		animation-name: slide-out-to-right;
	}
	&::view-transition-new(content) {
		animation-name: slide-in-from-left;
	}
}

html:active-view-transition-type(reload) {
	&::view-transition-old(root) {
		animation-name: fade-out, scale-down;
	}
	&::view-transition-new(root) {
		animation-delay: 0.25s;
		animation-name: fade-in, scale-up;
	}
}
