@layer reset, layout, view-transitions;

@layer view-transitions {
	@view-transition {
		navigation: auto;
	}

	::view-transition-image-pair(root) {
		isolation: auto;
	}

	::view-transition-old(root),
	::view-transition-new(root) {
		animation: none;
		mix-blend-mode: normal;
		display: block;
	}
}

@layer layout {
	@layer general {
		html {
			background: white;
			user-select: none;
		}

		html,
		body {
			height: 100%;
		}

		body {
			font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
				"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
			text-align: center;
			display: grid;
			place-content: center;
		}
		a {
			color: blue;
		}
	}
	@layer startingpoint {
		#startingPointMarker {
			position: fixed;
			width: 1em;
			height: 1em;
			border-radius: 50%;
			background: rgb(0 0 0 / 0.35);
			border: 2px solid white;
			transform: translate3d(-50%, -50%, 0);
			pointer-events: none;

			display: none;
			&[style] {
				display: block;
			}
		}
	}
}

@layer reset {
	* {
		box-sizing: border-box;
	}

	html, body {
		margin: 0;
		padding: 0;
	}

	ul[class] {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	img {
		display: inline-block;
	}

	h1 {
		margin-bottom: 0.5em;
	}
}

@layer warnings {
	/* Warnings and Preferences */
	@media (prefers-reduced-motion: reduce) {
		.warning[data-reason="prefers-reduced-motion"] {
			display: block;
		}
	}

	@supports not (view-transition-name: works) {
		.warning[data-reason="same-document-view-transitions"] {
			display: block;
		}
	}

	.warning[data-reason="cross-document-view-transitions"] {
		/* JS will show this warning when needed */
	}

	.warning[data-reason="navigation-api"] {
		/* JS will show this warning when needed */
	}

	.warnings {
		position: fixed;
		bottom: 1em;
		left: 1em;
		right: 1em;
		view-transition-name: warning; /* Don’t transition this with the rest of the stuff */
	}

	@layer warning {
		.warning {
			box-sizing: border-box;
			padding: 1em;
			margin: 1em 0;
			border: 1px solid #ccc;
			background: rgba(255 255 205 / 0.8);
			display: none;
		}

		.warning > :first-child {
			margin-top: 0;
		}

		.warning > :last-child {
			margin-bottom: 0;
		}

		.warning a {
			color: blue;
		}
		.warning--info {
			border: 1px solid #123456;
			background: rgb(205 230 255 / 0.8);
		}
		.warning--alarm {
			border: 1px solid red;
			background: #ff000010;
		}
	}
}
