@keyframes slide-in-from-left {
	from {
		translate: -100vw 0;
	}
}
@keyframes slide-in-from-right {
	from {
		translate: 100vw 0;
	}
}
@keyframes slide-out-to-left {
	to {
		translate: -100vw 0;
	}
}
@keyframes slide-out-to-right {
	to {
		translate: 100vw 0;
	}
}
@keyframes scale-up {
	from {
		scale: 0;
	}
}
@keyframes scale-down {
	to {
		scale: 0;
	}
}
@keyframes fade-in {
	from {
		opacity: 0;
	}
}
@keyframes fade-out {
	to {
		opacity: 0;
	}
}

::view-transition-group(*) {
	animation-duration: 1s;
}

@layer pagination {
	.pagination {
		list-style: none;
		margin: 0 auto;
		padding: 0;

		display: flex;
		gap: 0.5em;
		flex-wrap: nowrap;
		width: fit-content;
	}

	.pagination li {
		text-decoration: none;
		padding: 0;
		text-align: center;
	}

	.pagination li > * {
		--size: 2em;
		display: inline-block;
		width: var(--size);
		line-height: var(--size);
		aspect-ratio: 1;
		border: 1px solid currentcolor;
	}

	.pagination li a {
		color: blue;
		text-decoration: none;
	}
	.pagination li a:hover,
	.pagination li a:focus {
		background: #0000FF22;
	}

	.pagination li[data-pagination-current] a {
		color: #fff;
		background: blue;
		border-color: blue;
	}

	.pagination li[data-pagination-current] a:hover,
	.pagination li[data-pagination-current] a:focus {
		color: blue;
		background: #0000FF22;
	}

	.pagination li[data-pagination-ellipsis],
	.pagination li[data-pagination-disabled] {
		color: #ccc;
	}

	.pagination li[data-pagination-ellipsis] > *,
	.pagination li[data-pagination-disabled] > *,
	.pagination li[data-pagination-first] > *,
	.pagination li[data-pagination-prev] > *,
	.pagination li[data-pagination-next] > *,
	.pagination li[data-pagination-last] > * {
		border-color: transparent;
	}
}

@layer content {
	main {
		max-width: 20em;
		margin: 0 auto;
	}
	article {
		font-family: "Flow Block", system-ui;
		font-weight: 400;
		font-style: normal;
	}
}

/* General Styles */
html, body {
	height: 100%;
	width: 100%;
    margin: 0;
    padding: 0;
}
body {
	display: grid;
	place-items: center;
}


@layer warnings {
	/* Warnings and Preferences */
	@media (prefers-reduced-motion: reduce) {
		.warning[data-reason="prefers-reduced-motion"] {
			display: block;
		}
	}

	@supports not (view-transition-name: works) {
		.warning[data-reason="same-document-view-transitions"] {
			display: block;
		}
	}

	.warning[data-reason="cross-document-view-transitions"] {
		/* JS will show this warning when needed */
	}

	.warning[data-reason="navigation-api"] {
		/* JS will show this warning when needed */
	}

	.warnings {
		position: fixed;
		bottom: 1em;
		left: 1em;
		right: 1em;
		view-transition-name: warning; /* Don’t transition this with the rest of the stuff */
	}

	@layer warning {
		.warning {
			box-sizing: border-box;
			padding: 1em;
			margin: 1em 0;
			border: 1px solid #ccc;
			background: rgba(255 255 205 / 0.8);
			display: none;
		}

		.warning > :first-child {
			margin-top: 0;
		}

		.warning > :last-child {
			margin-bottom: 0;
		}

		.warning a {
			color: blue;
		}
		.warning--info {
			border: 1px solid #123456;
			background: rgb(205 230 255 / 0.8);
		}
		.warning--alarm {
			border: 1px solid red;
			background: #ff000010;
		}
	}
}
